@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";


// Create your own map
$custom-colors: (
  "custom-color": #900,
  "rojo": #FF0000
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

//otros cambios
.a1{
  width: 40px;
  height: 40px;
}
@import "./node_modules/bootstrap/scss/bootstrap.scss"